<ion-header id="modal-popup">
  <ion-toolbar class="modal-header title-font" mode="md">
    <ion-title tabindex="0" id="popup_title" slot="start" role="dialog"
      class="modal-popup-title title-font header-title">
      {{ header }}
    </ion-title>

    <ion-title slot="end" (click)="closePopup()" class="modal-popup-title add-pointer" role="dialog">
      <span (keyup.enter)="closePopup()" tabindex="0" aria-label="close popup">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ng-template #template></ng-template>