.popup-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-main{
  text-align: center;
  font-size: 24px;
  color: #162E5C;
  font: Proxima Nova;
  width: 90%;
  font-weight: 500;
}
.col-main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-icons-outlined{
  color: #5F6A6A;
}
.sc-ion-modal-md-h:first-of-type {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.80);
}
