ion-toolbar.modal-header {
  --background: var(--app-primary-color);
  --color: var(--app-secondary-color);
}

ion-toolbar.modal-footer {
  --background: var(--app-quinary-color);
}

.modal-title {
  word-wrap: break-word;
  width: 85%;
}
.header-title {
  font-size: var(--app-heading1-font-size);
}
