.footer-height{
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 0;
}

.button-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.row-alignment{
    padding: 0px;
    padding-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.list{
    display:inline;
}

.content{
    height: 341px;
}

.bread-scrum{
    display: inline;
}