 <div class="container-content" name="fieldName" ngDefaultControl>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-text class="text-font">{{dummyData.content }}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="column-adjust">
                <app-dropdown 
                            name="supportLanguages"
                            [data]="supportLanguages"
                            [placeholder]="defaultLanguage"
                            displayBy="language"
                            value="id"
                            [(ngModel)]="dummyData.selectLanguages"
                            (ngModelChange)="uiUpdateDefaultResponse($event)"
                ></app-dropdown>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text class="text-font">{{dummyData.content1 }}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="input-box" [(ngModel)]="dummyData.content3"
                ></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="set-thumbnail">
            <ion-col size="8">
                <ion-label>{{dummyData.content4 }}</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-toggle [(ngModel)]="dummyData.thumnailView"
                [checked]="dummyData.thumnailView"></ion-toggle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <hr class="hr-line">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-segment value="all" mode="md" ngDefaultControl (ionChange)="segmentChanged($event)">
        <ion-segment-button ngDefaultControl value="file" class="seg-texting text-font" [(ngModel)]="dummyData.segment1" >{{dummyData.segment1 }}</ion-segment-button>
        <ion-segment-button ngDefaultControl value="photo" class="seg-texting text-font" [(ngModel)]="dummyData.segment2" >
            {{dummyData.segment2 }}
        </ion-segment-button>
    </ion-segment>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-text class="text-font-career">
                    {{dummyData.content5 }}
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div>
        <ion-grid *ngIf="segment === 'thumnailView'">
            <ion-row *ngFor="let data of dummyData.segmentData">
                <ion-col>
                    <ion-checkbox ngDefaultControl [(ngModel)]="data.isChecked" [disabled]="data.default" ></ion-checkbox>
                    <ion-text class="segment-data">{{ data.name }}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div>
        <ion-grid *ngIf="segment === 'tableView'">
            <ion-row *ngFor="let data of dummyData.segmentDataTable">
                <ion-col>
                    <ion-checkbox ngDefaultControl [(ngModel)]="data.isChecked" [disabled]="data.default" ></ion-checkbox>
                    <ion-text class="segment-data">{{ data.name }}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <hr class="hr-line">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <ion-text class="text-font-balck">
                    {{dummyData.content6 }}
                </ion-text>
            </ion-col>
            <ion-col size="3">
                <ion-toggle [(ngModel)]="dummyData.lastToggle" ></ion-toggle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <hr class="hr-line">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-checkbox [(ngModel)]="dummyData.hideCheck"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-text>Hide thumbnail view</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>


<div class="footer-height">
    <ion-footer class="button-container">
        <ion-grid>
            <ion-row class="row-alignment">
                <ion-col size="1.5"></ion-col>
                <ion-col size="3">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button (click)="reset()">Reset</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button (click)="saveData()">Save</ion-button>
                </ion-col>
                <ion-col size="1.5"></ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>
</div>
